- var month = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dec"];
mixin driving(event)
  div
    span.event-type= event.type
    h4= event.title
      if(event.meta.product.via)
        span  - Via #{event.meta.product.via}
    if event.description
      p= event.description !== ''

    div.points.clearfix
      div
        h5 Origin
        p
          span= event.meta.product.origin.name
      div
        h5 Destination
        p
          span= event.meta.product.destination.name
      div
        h5 Avg. time
        p
          span #{event.meta.avgTime.hours}hs #{event.meta.avgTime.minutes}min.
      div
        h5 Distance
        p
          span #{event.meta.distance}km.
      div
        h5 Road surface
        p
          span #{event.meta.product.road_surface.toLowerCase()}
    if event.meta.highlights.length
      div
        h5 Puntos de interes
        p
          span= event.meta.highlights.join(', ')
    if event.meta.product.things_to_know.length
      div
        ul
          each ttk in event.meta.product.things_to_know
            li
              h5= ttk.title
              p= ttk.description



mixin place(event)
  div
    span.event-type= event.type
    h4= event.title
    p= event.description

doctype html
html
  head
    title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
    style.

      @page {
        size: A4;   /* auto is the initial value */
        margin-top: 1cm;
        margin-bottom: 1cm;
      }

      ul, li, p{
        margin: 0;
        list-style: none;
        padding: 0;
      }

      @media print {
        html {
          font-size: 11px;
        }
      }

      body{
        margin: 0 auto;
        width: 100%;
        max-width: 842px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }

      .main{
        background: #f5f5f5;
        padding: 1.5rem 1rem;
        box-sizing: border-box;
        margin: 2rem 1rem;
      }
      .event-cluster{
        padding: 1rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin: 0 1rem;
      }
      .event-cluster h4{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: rgba(0,0,0,0.7);
        margin-bottom: 0.625rem;
        margin-top: 0;
      }

      .event-cluster h5 {
        font-weight: 500;
        font-size: 0.625rem;
        line-height: 0.625rem;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
      }

      .points div{
        float: left;
        margin-right: 24px;
      }

      .event-cluster p{
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 0 0 0.5rem 0;
        color: rgba(0,0,0,0.7);
      }

      .event-type{
        font-size: 0.625rem;
        line-height: 0.625rem;
        color: rgba(0,0,0,0.54);
      }

      .day-list{
        page-break-inside: avoid;
      }

      .day-list li:last-child .event-cluster{
        margin-bottom: 0;
        border-bottom: none;
      }

      .day-ctn{
        float: left;
        width: 2.5rem;
        margin-top: 1.1rem;
        color: #FF5252;
        text-align: center;
      }
      .nod-ctn{
        font-size: 1.625rem;
        font-weight: 500;
        display: block;
      }

      .month-ctn{
        font-size: 1.125rem;
        line-height: 0.625rem;
        display: block;
      }

      .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }

      .clearfix {
        display: inline-block;
      }

      /* start commented backslash hack \*/
      * html .clearfix {
        height: 1%;
      }

      .clearfix {
        display: block;
      }

      .events-list{
        float: left;
        width: calc(100% - 2.5rem);
      }

      .title{
        padding: 2rem 1rem;
      }

      .title h1{
        margin: 0;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
      }

      .title div{
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 500;
      }

      .title span{
        float: right;
      }

      .description{
        color: rgba(0,0,0,0.54);
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 1rem;
      }

      a{
        white-space: nowrap;
        color: #1356CC;
      }

      h2{
        font-size: 1.2rem;
        color: rgba(0,0,0,0.7);
        font-weight: 500;
        padding: 0 1rem;
        margin: 0 0 0.75rem 0;
      }

      .mobile-desc{
        padding: 0 1rem;
        margin-bottom: 2rem;
      }

      .mobile-desc .image-ctn{
        height: 4.25rem;
        width: 2.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        margin-right: 1rem;
        margin-top: 0.25rem;
      }

      .mobile-desc p{
        float: left;
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: calc(100% - 3.5rem);
        text-align: center;
      }

      .mobile-desc span{
        margin-right: 2rem;
      }

      .logo-ctn{
        height: 3.75rem;
        width: 6.25rem;
        background-size: contain !important;
        float: left;
        margin-right: 2rem;
      }

      .divisor{
        height: 1px;
        border-top: 1px solid #ccc;
        margin: 0 1rem 2rem;
      }

      /* close commented backslash hack */

  body.mat-typography
    header
      div.title.clearfix
        div.logo-ctn(style="background: url('"+header.account.logo.url+"') no-repeat scroll 0 center transparent")
        h1= header.name
          span #123123
          if header.reference
            span ##{header.reference}
        div= header.start_date + ' - ' + header.end_date
      div.divisor
      h2= 'Mrs. ' + header.passenger_name
      if header.comment
        div.description
          p= header.comment
          br
      div.description
        p
          span Accede al viaje a través de tu smartphone ingresando a&nbsp;
          a(href="https://"+basePath+"/trips/"+header.id+"-"+header.name+"?a="+header.account.id) https://#{basePath}/trips/#{header.id}-#{header.name}?a=#{header.account.id}
          span .
          br
          span En él encontraras el detalle de tu itinerario, fotos y descripciones de los lugares que visitarás y todas las rutas para que navegues desde tu dispositivo.

    main.main
      ul.day-list
        each day in itinerary
          li.clearfix
            div.day-ctn
                span.nod-ctn= day.date.substr(8,2)
                span.month-ctn= month[parseInt(day.date.substr(5,2))-1]
            div.events-list
              ul
                each event in day.events
                  li.event-cluster
                    if event.type == 'Driving'
                      +driving(event)
                    else
                      +place(event)
    footer
      div.mobile-desc.clearfix
        p
          span GPS Device: #{header.gps.name}&nbsp
          span Pick up: #{header.gps.pick_up}&nbsp
          span Drop off: #{header.gps.drop_off}



