- var month = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"];
mixin driving(event)
  div
    span.event-type= event.type
    h4= event.title
      if(event.meta.via)
        span  - Via #{event.meta.via}
    p
      span.avg-time Avg. time #{event.meta.avgTime.hours}hs #{event.meta.avgTime.minutes}min.
      span.distance Distance #{event.meta.distance}km
    if event.description
      p= event.description !== ''
    if event.meta.highlights.length
      div
        h5 Puntos de interes
        p
          span= event.meta.highlights.join(', ')
    if event.meta.things_to_know.length
      div
        ul
          each ttk in event.meta.things_to_know
            li
              h5= ttk.title
              p= ttk.description



mixin place(event)
  div
    span.event-type= event.type
    h4= event.title
    p= event.description

doctype html
html
  head
    title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
    style.

      @page {
        size: A4;   /* auto is the initial value */
        margin-top: 1cm;
        margin-bottom: 1cm;
      }

      ul, li, p{
        margin: 0;
        list-style: none;
        padding: 0;
      }

      body {
        background: rgb(204, 204, 204);
      }

      @media print {
        html {
          font-size: 11px;
        }
      }

      body{
        margin: 0 auto;
        width: 100%;
        max-width: 842px;
        background: #f5f5f5;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }

      .main{
        background: #fff;
        padding: 1.5rem 1rem;
        box-sizing: border-box;
        border-radius: 8px;
        margin-bottom: 2rem;
      }
      .event-cluster{
        padding: 1rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin: 0 1rem 1.5rem;
      }
      .event-cluster h4{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: rgba(0,0,0,0.7);
        margin-bottom: 0.625rem;
        margin-top: 0;
      }

      .event-cluster h5 {
        font-weight: 500;
        font-size: 0.625rem;
        line-height: 0.625rem;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
      }

      .event-cluster p{
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 0 0 0.5rem 0;
        color: rgba(0,0,0,0.7);
      }

      .event-type{
        font-size: 0.625rem;
        line-height: 0.625rem;
        color: rgba(0,0,0,0.54);
      }

      .day-list{
        page-break-inside: avoid;
      }

      .day-list li:last-child .event-cluster{
        margin-bottom: 0;
        border-bottom: none;
      }

      .day-ctn{
        float: left;
        width: 2.5rem;
        margin-top: 1rem;
        color: #FF5252;
        text-align: center;
      }
      .nod-ctn{
        font-size: 1.625rem;
        font-weight: 500;
        display: block;
      }

      .month-ctn{
        font-size: 1.125rem;
        line-height: 0.625rem;
        display: block;
      }

      .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }

      .clearfix {
        display: inline-block;
      }

      /* start commented backslash hack \*/
      * html .clearfix {
        height: 1%;
      }

      .clearfix {
        display: block;
      }

      .events-list{
        float: left;
        width: calc(100% - 2.5rem);
      }

      .title{
        padding: 1rem;
      }

      .title h1{
        float: left;
        margin: 0;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
      }

      .title span{
        float: right;
      }

      .description{
        color: rgba(0,0,0,0.54);
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
      }

      .description a{
        white-space: nowrap;
        color: #1356CC;
      }

      header h2{
        font-size: 1.5rem;
        color: rgba(0,0,0,0.7);
        font-weight: 500;
        padding: 0 1rem;
        margin: 0 0 0.75rem 0;
      }

      /* close commented backslash hack */

  body.mat-typography
    header
      div.title.clearfix
        h1= header.name
        span= header.start_date + ' - ' + header.end_date
      h2= header.passenger_name
      div.description
        p
          span Accede al viaje a través de tu smartphone ingresando a&nbsp;
          a(href="https://#{basePath}/trips/#{header.id}-#{header.name}") https://#{basePath}/trips/#{header.id}-#{header.name}
          span .
          br
          span En él encontraras el detalle de tu itinerario, fotos y descripciones de los lugares que visitarás y todas las rutas para que navegues desde tu dispositivo.
    main.main
      ul.day-list
        each day in itinerary
          li.clearfix
            div.day-ctn
                span.nod-ctn= day.date.substr(8,2)
                span.month-ctn= month[parseInt(day.date.substr(5,2))-1]
            div.events-list
              ul
                each event in day.events
                  li.event-cluster
                    if event.type == 'Driving'
                      +driving(event)
                    else
                      +place(event)



